<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

    <test name="Run Edge">
        <parameter name="browser" value="EDGE"></parameter>
        <classes>
            <class name="TestCases.LoginHomeTest"></class>
        </classes>
    </test>


</suite>